.row-block_content_buttons {}

.button_toolbar {
  margin-bottom: 24px;
}

.button_toolbar label:not(:first-child) {
  margin-left: 20px;
}

.button_preview {
  margin-bottom: 24px;
  height: 60px;
  display: flex;
  align-items: center;
}

