.row-block_content_grid {}

/* .row-block_content_grid > div > code {
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 8px;
} */

.component-wrapper {
  margin: 12px 0;
  height: 200px;
  background: repeating-linear-gradient(
    -45deg,
    #f5ebff,
    #f5ebff 10px,
    var(--color-bg-primary) 10px,
    var(--color-bg-primary) 20px
  );
}

.component-wrapper > div {
  background-color: var(--color-bg-secondary);
  border-left: 1px dashed var(--color-bg-accent);
  border-right: 1px dashed var(--color-bg-accent);
}
