.mw-chips {
  height: 40px;
  width: fit-content;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  border-radius: var(--border-radius-half);
  cursor: pointer;
}

.mw-chips_state_default {
  color: var(--color-text-accent);
  background-color: var(--color-bg-default);
  border: 1px solid var(--color-bg-secondary);
}

.mw-chips_state_default:hover {
  color: var(--color-control-text-bordered-hover);
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-control-border-bordered-hover);
}

.mw-chips_state_active {
  color: var(--color-text-primary-inverse);
  background-color: var(--color-bg-accent);
  border: none;
}

.mw-chips_state_active:hover {
  color: var(--color-text-primary-inverse);
  background-color: var(--color-control-bg-primary-hover);
  border: none;
}
