.mw-chips {
  height: 40px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  width: fit-content;
  border-radius: var(--border-radius-half);
  cursor: pointer;
}

.mw-chips_state_default {
  background-color: var(--color-bg-default);
  color: var(--color-text-accent);
  border: 1px solid var(--color-bg-secondary);
}

.mw-chips_state_default:hover {
  background-color: var(--color-bg-primary);
  border: 1px solid #962eff;
  color: #962eff;
}

.mw-chips_state_active {
  background-color: var(--color-bg-accent);
  color: var(--color-text-primary-inverse);
  border: none;
}

.mw-chips_state_active:hover {
  background-color: #962eff;
  border: none;
  color: var(--color-text-primary-inverse);
}
