.mw-giftcard {
  width: 240px;
  cursor: pointer;
}

.mw-giftcard_status_clear .mw-giftcard_badge {
  display: none;
}

.mw-giftcard_status_is-giving .mw-giftcard_badge {
  background: var(--color-bg-accent);
}

.mw-giftcard_status_you-giving .mw-giftcard_badge {
  background: #f68500;
}

.mw-giftcard_status_already-given .mw-giftcard_badge {
  background: var(--color-bg-success);
}

.mw-giftcard_image {
  height: 329px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)), url("../../img/gift-image.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--border-radius-m);
}

.mw-giftcard_heading {
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 12px 0 4px 0;
}

.mw-giftcard_badge {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: var(--border-radius-half);
  width: fit-content;
  position: relative;
  top: 265px;
  left: 91px;
}

.mw-giftcard_badge_image {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.mw-giftcard_badge_text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400px;
  letter-spacing: 0.02em;
  color: var(--color-text-primary-inverse);
}

