.mw-giftcard {
  width: 240px;
  cursor: pointer;
}

.mw-giftcard > * {
  position: relative;
  z-index: 100;
}

.mw-giftcard_status_clear .mw-giftcard_badge {
  display: none;
}

.mw-giftcard_status_is-giving .mw-giftcard_badge {
  background: var(--color-bg-accent);
}

.mw-giftcard_status_you-giving .mw-giftcard_badge {
  background: var(--color-bg-warning);
}

.mw-giftcard_status_already-given .mw-giftcard_badge {
  background: var(--color-bg-success);
}

.mw-giftcard_image > img {
  height: 329px;
  border-radius: var(--border-radius-m);
}

.mw-giftcard_image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 329px;
  z-index: 20;
  border-radius: var(--border-radius-m);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03));
}

.mw-giftcard_heading {
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  margin: 12px 0 4px 0;
  text-overflow: ellipsis;
  font-weight: 700;
  line-height: 21px;
  font-size: 18px;
}

.mw-giftcard_badge {
  position: relative;
  top: -121px;
  right: -100px;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px 16px;
  border-radius: var(--border-radius-half);
}

.mw-giftcard_badge_image {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.mw-giftcard_badge_text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400px;
  letter-spacing: 0.02em;
  color: var(--color-text-primary-inverse);
}

