.mw-icon {
  width: 24px;
  height: 24px;
}

.mw-icon_view_primary {
  background-color: var(--color-text-primary);
}

.mw-icon_view_primary-inverse {
  background-color: var(--color-text-primary-inverse);
}

.mw-icon_view_accent {
  background-color: var(--color-text-accent);
}

/* перечисление иконок */

.mw-icon_name_arrow-down {
  mask-image: url("../../icons/icon-arrow-down.svg");
}

.mw-icon_name_arrow-right {
  mask-image: url("../../icons/icon-arrow-right.svg");
}

.mw-icon_name_at {
  mask-image: url("../../icons/icon-at.svg");
}

.mw-icon_name_chevron-left {
  mask-image: url("../../icons/icon-chevron-left.svg");
}

.mw-icon_name_hand {
  mask-image: url("../../icons/icon-hand.svg");
}

.mw-icon_name_miracle {
  mask-image: url("../../icons/icon-miracle.svg");
}

.mw-icon_name_present {
  mask-image: url("../../icons/icon-present.svg");
}

.mw-icon_name_search {
  mask-image: url("../../icons/icon-search.svg");
}

.mw-icon_name_share {
  mask-image: url("../../icons/icon-share.svg");
}

.mw-icon_name_instagram {
  mask-image: url("../../icons/icon-instagram.svg");
}

.mw-icon_name_vk {
  mask-image: url("../../icons/icon-vk.svg");
}

.mw-icon_name_facebook {
  mask-image: url("../../icons/icon-facebook.svg");
}

.mw-icon_name_twitter {
  mask-image: url("../../icons/icon-twitter.svg");
}
