.mw-icon {
  width: 24px;
  height: 24px;
}

.mw-icon_view_primary {
  background-color: var(--color-text-primary);
}

.mw-icon_view_primary-inverse {
  background-color: var(--color-text-primary-inverse);
}

.mw-icon_view_accent {
  background-color: var(--color-text-accent);
}

/* перечисление иконок */

.mw-icon_name_arrow-down {
  mask-image: url("../../icons/iconArrowDown.svg");
}

.mw-icon_name_arrow-right {
  mask-image: url("../../icons/iconArrowRight.svg");
}

.mw-icon_name_at {
  mask-image: url("../../icons/iconAt.svg");
}

.mw-icon_name_chevron-left {
  mask-image: url("../../icons/iconChevronLeft.svg");
}

.mw-icon_name_hand {
  mask-image: url("../../icons/iconHand.svg");
}

.mw-icon_name_miracle {
  mask-image: url("../../icons/iconMiracle.svg");
}

.mw-icon_name_present {
  mask-image: url("../../icons/iconPresent.svg");
}

.mw-icon_name_search {
  mask-image: url("../../icons/iconSearch.svg");
}

.mw-icon_name_share {
  mask-image: url("../../icons/iconShare.svg");
}

.mw-icon_name_instagram {
  mask-image: url("../../icons/iconInstagram.svg");
}

.mw-icon_name_vk {
  mask-image: url("../../icons/iconVk.svg");
}

.mw-icon_name_facebook {
  mask-image: url("../../icons/iconFacebook.svg");
}

.mw-icon_name_twitter {
  mask-image: url("../../icons/iconTwitter.svg");
}
